# Reducir el uso de memoria durante la instalación
node-options=--max-old-space-size=4096
# No instalar dependencias de desarrollo en producción
production=false
# Permitir dependencias opcionales
optional=true
# Permitir todas las dependencias
legacy-peer-deps=true
# Omitir scripts opcionales
ignore-scripts=false
# Omitir auditorías
audit=false
# Omitir financiamiento
fund=false

