# Reducir el uso de memoria durante la instalación
node-options=--max-old-space-size=450
# No instalar dependencias de desarrollo
production=true
# No generar un package-lock.json
package-lock=false
# Reducir la verbosidad de los logs
loglevel=error
# Omitir scripts opcionales
ignore-scripts=true
# Omitir auditorías
audit=false
# Omitir financiamiento
fund=false

legacy-peer-deps=true
include=dev

